/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap');

:root {
  color-scheme: light dark;
}

body {
  font-family: 'Red Hat Mono', monospace;
}

.divider-gradient {
  height: 2px;
  background: linear-gradient(to right, #c9d6ff, #ffd700);
  border-radius: 50%;
  border: 0;
  margin: 20px 0;
}